<section class="container">
  <form _ngcontent-ham-c16="" class="formulario" (ngSubmit)="cadastrar()">
    <div>
      <h3>Cadastrar Personagens</h3>
    </div>
    <div class="form-field">
      <input _ngcontent-ham-c16="" id="nome" type="text" placeholder="Nome" [(ngModel)]="nome" name="nome">
    </div>
    <div class="form-field">
      <input _ngcontent-ham-c16="" id="apelido" type="text" placeholder="Apelido" [(ngModel)]="apelido" name="apelido">
    </div>
    <div class="form-field">
      <input _ngcontent-ham-c16="" id="idade" type="text" placeholder="Idade" [(ngModel)]="idade" name="idade">
    </div>
    <div class="form-field">
      <input _ngcontent-ham-c16="" id="classe" type="text" placeholder="Classe" [(ngModel)]="classe" name="classe">
    </div>
    <div class="form-field">
      <input _ngcontent-ham-c16="" id="raca" type="text" placeholder="Raça" [(ngModel)]="raca" name="raca">
    </div>
    <button type="submit" class="login-btn"> cadastrar </button>
    <div   class="register-bar"></div>
  </form>
</section>
